.nb{
    background-color: #FFFAF0 !important;
}

.myicon{
    border-radius: 50%;
    margin-right: 5%;
    min-width: 50px;
    min-height: 50px;
    margin-left: 5%;
}

.myImage{
    border-radius: 50%;
    max-width: 80%;
    margin-top:5%3;
    padding-bottom: 5%;
    
}

.myFirstRow{
    color: white !important;
    backdrop-filter: blur(15px);
    border-radius: 100px;
    padding-top: 2%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.HomeBgClass{
    padding-bottom: 2%;
}

.mydatadiv{
    text-align: left;
}


.other{
    z-index: 100;
}

/*More me*/
.moreME{
    padding-top: 3%;
    
}

.myDetails{
    backdrop-filter: blur(10px);
    
}

.tbl{
    text-align: left;
    margin-top: 3%;
}

.tableTwo{
    padding-top: 10%;
    text-align: left;
    backdrop-filter: blur(30px);
}

.tdSet{
    margin-top: 25%;
}

.divRight{
    padding-left:20%;
}


/*Slider*/

.detailsSection{
    backdrop-filter: blur(5px);
}

.mySliderSec{
    max-width: 70%;
    margin-bottom: 5%;
}
.imgSlider{
    max-height: 70vh;
    width: auto;
    padding-top: 2%;
}

/*Footer*/
.myList{
    list-style-type: none;
}

.footerLink:active{
    color:black !important;
}

.footerLink:hover{
    color: chocolate;
}
.footerLink{
    color: black !important;
    text-decoration: none;
}


.myLink{
    color:black !important;
}

.navText:active{
    font-weight: bold !important;
}